.app {
    background-color: #87CEFA;
    min-height: 100vh;

    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    box-sizing: border-box;
}
